.part1 {
    background-image: url("../images/pngtree-Ocean-Sunset-Sun-Sky-background-photo-421498.jpg");
    background-position: cover;
    background-size:1380px 871px;
}

h1 {
    color:rgb(35, 35, 114);
    text-align: center;
    font-family: 'Lobster', cursive;
}
h2 {
    color:rgb(231, 82, 27);
    text-align:left;
    text-align: center;
    text-decoration: underline;
    font-family: 'Vollkorn', serif;
}
h3 {
    font-family: 'Courgette', cursive;
    text-align: center;
    text-decoration: underline;
}

#happy{
    color: beige;
}

#happy li{
    color: bisque;
}